<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Componente - Usuário</div>
                <div class="panel-body fixed-panel">

                    <div class="row">
                        <div class="col-sm-6">

                            <div class="panel panel-primary">
                                <div class="panel-heading">Login</div>
                                <div class="wrapper">
                                    <form [formGroup]="loginForm" (ngSubmit)="finish()">

                                        <div class="input-group input-group-md pb-3">
                                            <input type="text" class="form-control" id="email-field"
                                                formControlName="email" name="email" placeholder="Email">
                                        </div>

                                        <div class="input-group input-group-md pb-3">
                                            <input type="password" class="form-control" id="senha-field"
                                                formControlName="senha" name="senha" placeholder="Senha">
                                        </div>

                                        <div class="input-group input-group-sm pb-3">
                                            <button type="button" type="submit"
                                                class="btn btn-color btn-md btn-block bold-font">LOGIN</button>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <app-cadastro></app-cadastro>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<app-produtos></app-produtos>

<toast [showModal]="showModal" [title]="title" [message]="message" (close)="getClose($event)"></toast>