<div class="wrapper">

    <form [formGroup]="loginForm" (ngSubmit)="finish()">

        <div class="row">

            <div class="col-md-12">
                <div class="input-group input-group-sm pb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">
                            <img src="../../../assets/arroba.svg" width="30" height="30"
                                class="d-inline-block align-top">
                        </span>
                    </div>
                    <input type="text" class="form-control" id="email-field" formControlName="email" name="email"
                        placeholder="Email">
                </div>
                <app-form-error [presentError]="presentFieldErrors" [control]="loginForm.get('email')"
                    inputFieldId="email-field">
                </app-form-error>
            </div>

            <div class="col-md-12">
                <div class="input-group input-group-sm pb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">
                            <img src="../../../assets/key.svg" width="30" height="30" class="d-inline-block align-top">
                        </span>
                    </div>
                    <input type="password" class="form-control" id="senha-field" formControlName="senha" name="senha"
                        placeholder="Senha">

                </div>
                <app-form-error [presentError]="presentFieldErrors" [control]="loginForm.get('senha')"
                    inputFieldId="senha-field">
                </app-form-error>
            </div>

            <div class="input-group input-group-sm pb-3">
                <button type="button" type="submit"
                    class="btn btn-color btn-lg btn-block bold-font float-right ">LOGIN</button>
            </div>

            <div class="input-group input-group-sm">
                <button type="button" (click)="cadastro()"
                    class="btn btn-lg btn-block bold-font float-right ">CADASTRE-SE</button>
            </div>

        </div>

    </form>

</div>

<toast [showModal]="showModal" [title]="title" [message]="message"
    (close)="getClose($event)"></toast>